@import "../../variaveisGlobais.scss";
.description{
  
  max-width: 100vw;
  height: auto;
  padding-bottom:10vh ;
  background-color: black;
  display: flex;
  justify-content: center;
  .noticia{
    @include Mobile{
    width: 70vw;
    }
    width: 50vw;
   padding-bottom: 10vh;
    border: 1px solid white;
    margin-top: 10vh;
    img{
      width: 100%;
      padding-bottom: 2vh;
    }
    h2,p,h5{
      padding-left: 2vh;
      color: white;
      margin-top: 5vh;
    }
    p{
      padding: 5vh;
    }
    
  }
}