@import "../../variaveisGlobais.scss";
.blog{
header{
  @include Mobile{
    height: 40vh;
  }
  background-image: url('../../images/fundos/backgroundAdvogados.webp');
  max-width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 0px 10vh 18vw;
  overflow: hidden;
  div{
    a{
      color: white;
      text-decoration: none;
      &:hover{
        color: rgb(255, 196, 0) ;
      }
    }
  }
  p{
    color: rgb(255, 196, 0) ;
  }
  h1{
    color: white;
    font-weight: bolder;
  }
  p:nth-child(1){
    margin-bottom: -1vh;
  }
  div:nth-child(3){
    color: white;
   position: relative;
   top: 120px;
   left: 100vh;
   background-color: black;
   width: 18vw;
   height: 10vh;
   text-align: center;
   padding: 2vh 0px 0px 0px;
   span{
    margin-left: 1vh;
    color: rgb(255, 196, 0) ;
   }
  }
}
.main{
  background-color: $background-black;
  display: flex;
  align-items: center;
  
  flex-direction: column;
  max-width: 100vw;
  height: auto;
  .materias{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 2vw 0px;
    height: auto;
   padding: 0px 0px 2vh;
    h2,h3,p{
      padding: 0px 2vh;
    }
    h2,h3{
      font-weight: bold;
      color: white;
    }
    p{
      color: white;
    }
    a{
      color: white;
      text-decoration: none;
      text-align: end;
     padding: 2vh;
     transition: color 0.5s ease-in-out;
     &:hover{
      color: $primary-color;
     }
    }
    
  }
}
  }
