@import "../../variaveisGlobais.scss";
header{
  @include Mobile{
    height: 40vh;
  }
  background-image: url('../../images/fundos/backgroundAdvogados.webp');
  max-width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 0px 10vh 18vw;
  overflow: hidden;
  div{
    a{
      color: white;
      text-decoration: none;
      &:hover{
        color: rgb(255, 196, 0) ;
      }
    }
  }
  p{
    color: rgb(255, 196, 0) ;
  }
  h1{
    color: white;
    font-weight: bolder;
  }
  p:nth-child(1){
    margin-bottom: -1vh;
  }
  div:nth-child(3){
    color: white;
   position: relative;
   top: 120px;
   left: 100vh;
   background-color: black;
   width: 18vw;
   height: 10vh;
   text-align: center;
   padding: 2vh 0px 0px 0px;
   span{
    margin-left: 1vh;
    color: rgb(255, 196, 0) ;
   }
  }
}
main{
  @include Mobile{
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: space-between;
  }
  display: flex;
  padding: 20vh;
  justify-content: space-between;
  height: 100vh;
  background-color: black;
  
  img{
    @include Mobile{
      width: 60vw;
      height: auto;
      margin-bottom: 2vh;
    }
    width: 30vw;
    height: 60vh;
    border: 1px solid white;
    
  }
  .description{
    p{
      font-size: 90%;
    }
    @include Mobile{
      height: auto;
      width: 60vw;
    }
    border: 1px solid white;
    padding: 3vh 2vh;
    margin: 0vh 2vh;
    width: 35vw;
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    h2{
      color: rgb(255, 196, 0) ;
      text-transform: uppercase;
      font-weight: bold;
      
    }
    p:nth-child(2){
      color: rgb(101, 101, 101);
    }
  }
  .contato{
    @include Mobile{
      height: auto;
      width: 60vw;
      margin-top: 1vh;
      display: block;
    }
    display: flex;
    flex-direction: column;
    padding: 2vh 0px 0px 1vw;
    color: white;
    width: 15vw;
    height: 40vh;
    border: 1px solid white;
    h2{
      color:rgb(255, 196, 0);
      font-size: 1.2em;
    }
    span{
      display: flex;
      align-items: center;
      padding: 1vh;
      
      
       }
  }
}